@charset "utf-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, form section {
    display: flex;
    align-items: center;
    justify-content: center;
}

main, form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

form {
    gap: 10px !important;
}

form section {
    justify-content: space-between !important;
    gap: 10px;
}